
<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>

  <p>&copy; 2015 {{ site.title }}. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>

  {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="username">{{ site.twitter_username }}</span>
    </a>
  </li>
  {% endif %}
  <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
  <p>{{ site.description }}</p>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
