<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    {% include common/navbar-header.html %}
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav  pull-right">
        <li > <p class="navbar-text"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ site.phone_number }}  </p> </li>
        <li >  <a href="{{ "/about" | prepend: site.baseurl }}">About Us</a></li>
        <li >  <a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>

    </div>
  </div>
</nav>
