<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    {% include common/navbar-header.html %}
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav  pull-right">
        <li > <p class="navbar-text"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ site.phone_number }}  </p> </li>
        {% for page in site.pages %}
        {% if page.title and page.brand == include.brand %}
        <li>  <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </div>
  </div>
</nav>
